<a href="https://colab.research.google.com/github/TREX99/ai.things/blob/master/AI%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

학번 : U2020038

이름 : 이성만

### 1. 다음의 리스트를 활용하여 문항에 적절한 코드를 작성하세요.

In [0]:
fruit = ['apple', 'banana', 'cherry', 'grape', ' orange', 'strawberry', 'melon']

**문항1]** fruit리스트에서 'cherry'를 출력하세요.

In [2]:
fruit[2]

'cherry'

**문항2]** fruit리스트를 역순으로 출력하세요.

In [3]:
fruit[::-1]

['melon', 'strawberry', ' orange', 'grape', 'cherry', 'banana', 'apple']

**문항3]** fruit리스트의 마지막 두개 값을 출력하세요.

In [4]:
fruit[5:7]

['strawberry', 'melon']

**문항4]** fruit리스트의 문자열을 '&'로 모두 붙여 다음과 같은 결과가 나오도록 출력하세요.

'apple&banana&cherry&grape& orange&strawberry&melon'

In [5]:
"&".join(fruit)

'apple&banana&cherry&grape& orange&strawberry&melon'

**문항5]** fruit리스트를 인덱스(순서번호)와 함께 출력하세요.

In [6]:
for i, v in enumerate(fruit):
    print(i, v)

0 apple
1 banana
2 cherry
3 grape
4  orange
5 strawberry
6 melon

### 다음의 코드의 출력값이 나오도록 예시 코드를 수정하세요.

**문항6]** 다음과 같은 출력값이 나오도록 코드를 수정하세요.

a1 b1

a2 b2

a3 b3

In [7]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print(a,b)

a1 b1
a2 b2
a3 b3

**문항7]** 다음의 출력값이 나오도록 나머지 코드를 작성하세요.

DONGUNIVERSITY

In [8]:
school = 'KOOKMIN UNIVERSITY'
student = ['HONG', 'GIL', 'DONG']

student[2][:3] + student[1][0] + school.split()[1]

'DONGUNIVERSITY'

**문항8]** 리스트 컴프리헨션으로 다음의 출력값이 나오는 코드를 작성하세요.

[1, 4, 9, 16, 25]

In [9]:
p = [1,2,3,4,5]
[v**2 for i, v in enumerate(p)]

[1, 4, 9, 16, 25]

**문항9]** formating을 활용하여 다음과 같이 출력하세요.

'2020년 5월 2일'

In [10]:
d_info = {'year': '2020', 'month':'5', 'day':'2'}
print('{}년 {}월 {}일'.format(d_info['year'], d_info['month'], d_info['day']))

2020년 5월 2일

**문항10]** 다음과 같이 2개의 행렬을 더하는 함수 my_addition을 작성하여 정상적으로 출력되도록 하세요.

[[4, 9], [7, 4]]

In [11]:
import numpy as np
def my_addtion(x, y):
    xx = np.matrix(x)
    yy = np.matrix(y)
    return xx + yy

matrix_x = [[2,5], [2,1]]
matrix_y = [[2,4], [5,3]]
result = my_addtion(matrix_x, matrix_y)
print(result)

[[4 9]
 [7 4]]

**문항11]** 다음의 출력값이 나오도록 코드를 작성하세요.

{'my': 5, 'cat': 6, 'has': 2, 'blue': 3, 'eyes,': 4, 'is': 7, 'cute': 8}

In [12]:
c = 'my cat has blue eyes, my cat is cute'
x = c.split()
dict(zip(x, range(len(x))))

{'blue': 3, 'cat': 6, 'cute': 8, 'eyes,': 4, 'has': 2, 'is': 7, 'my': 5}

**문항11]** 다음의 출력값이 나오도록 코드를 작성하세요.

'This Is PYTHON'

In [13]:
str_a = 'this is'
str_b = 'PythoN'
str_a.capitalize() + ' ' + str_b.upper()

'This is PYTHON'

### 다음의 문항을 수행할 수 있는 함수를 작성하고 예시 결과를 출력하세요.

**문항12]** 제곱미터를 입력값으로 하여 평형을 계산할 수 있는 my_house 함수를 작성하여 다음의 코드가 작동되도록 하세요.

1제곱미터 = 0.3025평

In [14]:
import numpy as np

def my_house(v):
    return v * 0.3025


my_house(np.random.randint(1, 300))

53.845

**문항13]** 두 리스트에서 같은 순번에 있는 값을 더하는 my_add 함수를 작성하여 다음의 코드가 작동되도록 하세요.

In [15]:
import numpy as np

def my_add(x, y):
    t = zip(x, y)
    s = [x + y for x, y in t]
    return s

i = list(np.random.randint(1, 100, np.random.randint(1,20)))
j = list(np.random.randint(1, 100, np.random.randint(1,20)))
my_add(i, j)

[136, 34, 66, 50]

### 다음의 문항을 수행할 수 있는 코드를 작성하세요.

**문항14]** 구구단계산기 Ver02

- 프로그램이 시작되면 '구구단 몇단을 계산할까?'를 출력
- 사용자가 계산하고 싶은 구구단 숫자를 입력
- '구구단 n단을 계산합니다.'라는 메시지와 함께 구구단을 출력

In [16]:
d = input("구구단 몇단을 계산할까 ?")
if (not d.isdigit() or 1 > int(d) or int(d) > 9):
    print("1 ~ 9 정수만 입력하세요.")
else:
    dv = int(d)
    print("구구단 {}단을 계산합니다.".format(dv))
    [print("{} * {} = {}".format(dv, x, dv * x)) for x in range(1,10)]

구구단 몇단을 계산할까 ?7
구구단 7단을 계산합니다.
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

**문항15]** 숫자맞추기 야구게임

- 프로그램이 시작되면 '숫자 맞추기 야구게임을 시작합니다."를 출력
- 사용자는 4자리 숫자를 입력
- 숫자가 전부 틀리면 '아웃'
- 위치와 숫자가 모두 맞으면 S
- 숫자는 맞지만 위치가 틀리면 B
- 예시) 정답이 1234
    - 사용자가 7892 입력 -> 1B
    - 사용자가 1582 입력 -> 1S1B
- 정답은 아래 코드를 사용하여 생성

In [17]:
import numpy as np

######################################################################
# 일단 정답을 하나 구하고.......
######################################################################
answer = np.random.randint(1000, 9999)

######################################################################
# 정답을 구하는 함수.......
######################################################################
def get_answer():
    x = np.random.randint(1000, 9999)
    return x 

######################################################################
# 스트라이크, 볼을 판정하는 함수.......
######################################################################
def get_strike_ball(x):
    b = 0
    s = 0
    for i in range(0, 4):
        for j in range(0, 4):
            if(x[i] == str(answer)[j] and i == j):  # 숫자도 맞고, 위치도 맞으면 스트라이크
                s += 1
                break
            elif(x[i] == str(answer)[j] and i != j):  # 숫자만 맞으면 볼
                b += 1
                break
    return b, s



######################################################################
# 1. 일단 구해진 정답의 4자리 숫자 중에 동일한 숫자 2개 이상이 구성된 경우 정답을 다시 구한다.
######################################################################
exists_same_digit = True
while (exists_same_digit):
    exists_same_digit = False
    for i in range(0, 4):
        for j in range(0, 4):
            if (str(answer)[i] == str(answer)[j] and i != j):
                exists_same_digit = True
                break
    if (exists_same_digit):
        answer = get_answer()
#print(answer)
        
        
######################################################################
# 2. 전역변수 초기화
######################################################################
c_strike = 0 # 스트라이크 횟수
c_ball = 0 # 볼 횟수
 
######################################################################
# 3. 메세지 출력
######################################################################
print("숫자 맞추기 야구게임을 시작합니다.")

######################################################################
# 4. 정답을 맞출때까지 무한반복 (일단 요건에 exit 조건이 없으니 무조건 맞출때까지)
######################################################################
while(c_strike < 4):
    # 4-1. 숫자 입력
    v = input("4자리 숫자를 입력하세요.")
    # 4-2. 4자리 숫자 입력이 아닌 경우 경고 메세지 (메세지 출력 후 다시 숫자 입력)
    if (not v.isdigit() or int(v) < 1000 or int(v) > 9999):
        print("0 ~ 9999 정수만 입력하세요.")
    else:
        # 4-3. 4자리 숫자 입력된 경우 스크라이크, 볼 판정
        (c_ball, c_strike) = get_strike_ball(v)
        # 4-4. 스트라이크 ,볼 판정 결과 메세지 출력
        if (c_strike > 0) and (c_ball > 0):
            print("{}S{}B".format(c_strike, c_ball))
        elif (c_strike > 0):
            print("{}S".format(c_strike))
        elif (c_ball > 0):
            print("{}B".format(c_ball))
        else:
            print("아웃")

숫자 맞추기 야구게임을 시작합니다.
4자리 숫자를 입력하세요.1234
1B
4자리 숫자를 입력하세요.5678
1S1B
4자리 숫자를 입력하세요.9012
1B
4자리 숫자를 입력하세요.3412
1S
4자리 숫자를 입력하세요.5410
2S
4자리 숫자를 입력하세요.5710
1S
4자리 숫자를 입력하세요.5420
2S
4자리 숫자를 입력하세요.5430
2S
4자리 숫자를 입력하세요.5431
2S
4자리 숫자를 입력하세요.5467
2S
4자리 숫자를 입력하세요.5489
4S